<div class="p-5">
  <div class="card w-80 px-5 tarjeta">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 col- d-none d-lg-flex">
        <img src="../../../../assets/edicion-guardar.jpg" alt="imagen-login" class="w-100 rounded-pill"/>
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-outline mb-4">
                    <label for="titulo" class="text-light">Título del proyecto</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="proylab.titulo" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="resumen" class="text-light">Resumen del proyecto</label>
                    <input type="text" class="form-control" id="resumen" name="resumen" [(ngModel)]="proylab.resumen" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="enlace" class="text-light">Enlace del proyecto</label>
                    <input type="text" class="form-control" id="enlace" name="enlace" [(ngModel)]="proylab.enlace" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="imagen" class="text-light">Enlace de la imagen del proyecto</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="proylab.imagen" required>
                </div>
                <button type="submit" class="btn btn-light btn-lg btn-block">Guardar</button>
            </form>
        </div>
    </div>
</div>
