.row{
    padding: 10px;
}

div{
    background-color: #E6E6FA;
    text-align: center;
}

/*Estilo Foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 10%;
        top: 70%;
    }
}


@media (max-width: 575.98px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 35%;
    text-align: center;
}