<div class="row">
    <h1 class="titulo fw-bold">Hard & Soft skills</h1>

    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-dark fw-bold mb-3 shadow agregar" routerLink="/nuevahab" *ngIf="isLogged">Agregar Hard & Soft skills</button>
    </div>
    <div *ngFor="let Habilidades of hab" class="text-center col-sm- col-md-4 col-lg-4 mt-3d-flex flex-column">
      <div >
        <circle-progress
            [percent]="Habilidades.nivel"
            [radius]="100"
            [showUnits]="false"
            [title]="Habilidades.nombre"
            [titleColor]="'#4A235A'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'700'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="100"
            [outerStrokeColor]="'#9265a5'"
            [innerStrokeColor]="'#efbe80'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mb-4" *ngIf="isLogged">
        <button class="col-lg-5 col-md-4 col-sm-2 btn btn-outline-dark fw-bolder shadow edita mx-2" routerLink="/edithab/{{Habilidades.id}}">Editar<img src="../../../assets/editar.png" class="w-25"/></button>

        <button class="col-lg-5 col-md-4 col-sm-2 btn btn-outline-dark fw-bolder shadow borra mx-2" (click)="delete(Habilidades.id)">Borrar<img src="../../../assets/borrar.png" class="w-25"/></button>
      </div>
    </div>
</div>
