<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-6 col-md-7 col-sm-6 d-flex justify-content-end">
      <button type="button" class="btn btn-outline-dark" routerLink="/nuevaexp" *ngIf="isLogged">Agregar Experiencia</button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <div class="table-responsive-sm">
        <table class="table table-borderless">
          <tbody class="row">
            <tr *ngFor="let Experiencia of expe">
              <td class="col-lg-4 col-md-4 col-sm-12"><h2>{{Experiencia.nombreE}}</h2></td>
              <td class="col-lg-4 col-md-4 col-sm-12">{{Experiencia.descripcionE}}</td>
              <td class="col-lg-2 col-md-2 col-sm-2" *ngIf="isLogged">
                <button class="btn btn-outline-dark" routerLink="/editexp/{{Experiencia.id}}">Editar <img src="../../../assets/editar.png" class="w-25"/></button>
              </td>
              <td class="col-lg-2 col-md-2 col-sm-2" *ngIf="isLogged">
                <button class="btn btn-outline-dark" (click)="delete(Experiencia.id)">Borrar <img src="../../../assets/borrar.png" class="w-25"/></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
</div>
