<div class="p-5">
  <div class="card w-80 px-5 tarjeta">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 col- d-none d-lg-flex">
        <img src="../../../../assets/edicion-guardar.jpg" alt="imagen-login" class="w-100 p-3 rounded-pill"/>
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="form-outline mb-4">
                    <label for="tituloEd" class="text-light" >Nombre del establecimiento</label>
                    <input type="text" class="form-control" id="tituloEd" name="tituloEd" [(ngModel)]="tituloEd" required>
                </div>

                <div class="form-outline mb-4">
                    <label for="descripcionEd"  class="text-light">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="descripcionEd" required>
                </div>

                <div class="form-outline mb-4">
                    <label for="tiempoEd" class="text-light">Tiempo cursado</label>
                    <input type="text" class="form-control" id="tiempoEd" name="tiempoEd" [(ngModel)]="tiempoEd" required>
                </div>

                <button type="submit" class="btn btn-light btn-lg btn-block">Agregar educación</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
