.row{
  background-color: 	#eedfef;
}

.titulo{
  color: #352a55;
  font-style: solid ;
}

.agregar{
  color:#bd83b4;
  border-color: #bd83b4;
  border-width: 2px;
}

.icono{
  width: 25px;
  padding-bottom: 10px;
}

.icono, h2{
  display: inline-block;
}

.borra{
  color:#bf4158;
  border-color: #bf4158;
  border-width: 2px;
}

.edita{
  color: #6b5b94;
  border-color: #6b5b94;
  border-width: 2px;
}

@media (max-width: 767.98px){
  .caja{
    display:flex;
    flex-direction: column;
  }
}
