.row{
    padding: 20px;
    background-color: 	#dac9df
    ;
}
.container{
    width: auto;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000;
}

/* Vista Celular*/
@media (max-width:575.98px){
    .container{
        display:flex;
        flex-direction: column;
    }
}
