<div class="p-5">
  <div class="card w-80 px-5 tarjeta">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 col- d-none d-lg-flex">
        <img src="../../../assets/login.png" alt="imagen-login" class="w-100 p-3"/>
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="form-outline mb-4">
              <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}" required>
              <label class="form-label" for="nombreUsuario">Usuario</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required/>
              <label class="form-label" for="password">Contraseña</label>
            </div>

            <button type="submit" class="btn btn-success btn-lg btn-block">Ingresar</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
