<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 fotoperfil">
        <img src="../../../assets/FotoPerfil.jpeg" alt="FotoPerfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nombre">
        <h3 id="nombre">Florencia Elizabeth González</h3>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non debitis cum magni aliquid asperiores numquam ducimus facere vitae vel hic fugiat culpa tempora, quas nostrum optio odio fuga provident eius. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, molestiae ducimus. Quasi iure eos repellendus iusto autem! Soluta culpa enim earum, deleniti deserunt repudiandae natus quas fugit odio accusamus corrupti? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, corrupti. Quidem corrupti provident ea magni, unde debitis error harum quibusdam enim et necessitatibus dignissimos ex fuga labore atque ipsa vitae?
            </p>
        </span>
    </div>
</div>
